.title {
  text-align: center;
}
.card_container {
  display: block;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  div {
    padding: 5px;
  }
  img {
    max-width: 175px;
    display: block;
  }
}
