@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");

$font-family: "Montserrat", sans-serif;
// colours
$copy: black;

// spacing
$standard-spacing-horizontal: 10px;
