@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");

$font-family: "Montserrat", sans-serif;
// colours
$copy: black;
$white: white;
$primary: #2f2fc9;
$secondary: #b438ae;

// spacing
$standard-spacing-horizontal: 10px;
$standard-spacing-vertical: 10px;

// font size
$h1-desktop-large-font-size: 74px;
$h1-desktop-font-size: 56px;
$h1-tablet-font-size: 47px;
$h1-mobile-font-size: 38px;

$h2-desktop-large-font-size: 46px;
$h2-desktop-font-size: 39px;
$h2-tablet-font-size: 32px;
$h2-mobile-font-size: 26px;

$h3-desktop-large-font-size: 26px;
$h3-desktop-font-size: 23px;
$h3-tablet-font-size: 22px;
$h3-mobile-font-size: 20px;

$p-desktop-font-size: 18px;
$p-mobile-font-size: 16px;
