@import "./variables.scss";

body {
  font-family: $font-family;
  margin: 0;
  scroll-behavior: smooth;
}

p,
a {
  font-size: $p-mobile-font-size;
  @media (min-width: 1440px) {
    font-size: $p-desktop-font-size;
  }
}

h1 {
  font-size: $h1-mobile-font-size;
  @media (min-width: 768px) {
    font-size: $h1-tablet-font-size;
  }
  @media (min-width: 1440px) {
    font-size: $h1-desktop-large-font-size;
  }
}

h2 {
  font-size: $h2-mobile-font-size;
  @media (min-width: 768px) {
    font-size: $h2-tablet-font-size;
  }
  @media (min-width: 1440px) {
    font-size: $h2-desktop-large-font-size;
  }
}

h3,
.lead {
  font-size: $h3-mobile-font-size;
  @media (min-width: 768px) {
    font-size: $h3-tablet-font-size;
  }
  @media (min-width: 1440px) {
    font-size: $h3-desktop-large-font-size;
  }
}
