@import "./variables.scss";

body {
  font-family: $font-family;
  // background: linear-gradient(145deg, #3434ff, #b438ae 70.71%);
  margin: 0;
}

.root {
  background-image: url("../../assets/images/glow.png");
  background-position: center;
}

p,
a {
  font-size: $p-mobile-font-size;
  @media (min-width: 1440px) {
    font-size: $p-desktop-font-size;
  }
}

h1 {
  font-size: $h1-mobile-font-size;
  @media (min-width: 768px) {
    font-size: $h1-tablet-font-size;
  }
  @media (min-width: 1440px) {
    font-size: $h1-desktop-large-font-size;
  }
}

h2 {
  font-size: $h2-mobile-font-size;
  @media (min-width: 768px) {
    font-size: $h2-tablet-font-size;
  }
  @media (min-width: 1440px) {
    font-size: $h2-desktop-large-font-size;
  }
}

h3,
.lead {
  font-size: $h3-mobile-font-size;
  @media (min-width: 768px) {
    font-size: $h3-tablet-font-size;
  }
  @media (min-width: 1440px) {
    font-size: $h3-desktop-large-font-size;
  }
}
