@import "../../assets/scss/main";

.container {
  margin: 60px 0;
  @media (min-width: 768px) {
    margin: 100px 0;
  }
  .title {
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;

    li.list_item {
      list-style: none;
      align-items: baseline;
      border-bottom: 1px solid $copy-light;
      padding: 0 20px;

      @media (min-width: 1024px) {
        display: flex;
      }
      &:hover {
        box-shadow: $box-shadow;
      }

      &:last-of-type {
        border-bottom: none;
      }
      .company {
        max-width: 250px;
        width: 100%;
        margin: 20px 0;
        flex: 1;
      }
      .role {
        flex: 1;
        margin: 20px 0;

        @media (min-width: 1024px) {
          padding-left: 20px;
          border-left: 1px solid $copy-light;
        }
        ul {
          padding: 0 20px;
        }
        li {
          border-bottom: none;
          &:hover {
            box-shadow: none !important;
          }
        }
      }
    }
  }
}
