.content {
  max-width: 1200px;
  margin: 0 auto;

  .cards {
    margin-top: 20px;
    @media (min-width: 768px) {
      margin: 100px 0;
    }
  }
  .cv {
    text-align: center;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}