@import "../../assets/scss/main";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button_container {
    display: flex;
    margin-top: $double-spacing-vertical;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    @media (min-width: 768px) {
      gap: 0
    }
  }
  h1,
  h2 {
    margin: 0;
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  img {
    max-width: 200px;
    @media (min-width: 1440px) {
    }
  }
}
