@import "../../assets/scss/main";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background-image: url("../../assets/glow.png");
  background-repeat: no-repeat;

  .button_container {
    display: flex;

    button {
      margin: 0 $standard-spacing-horizontal;
    }
  }
}
