.container {
  border-radius: 16px;
  margin: 60px 0;

  @media (min-width: 768px) {
    margin: 100px 0;
    display: flex;
    align-items: center;
  }

  h2 {
    text-align: center;
    margin: 0;
    .break {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    .span {
      display: inline-block;
      @media (min-width: 768px) {
        display: none;
      }
    }
    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }

  .date_container {
    font-size: 40px;
    padding-right: 20px;
  }
}
