@import "../../assets/scss/main.scss";

.footer {
  border-top: 1px solid $copy-light;
  padding-top: 10px;

  
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

  }
 

  .icon {
    width: 20px;
  }

  ul {
    margin: 0 0 15px 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    .first {

      @media screen and (min-width: 768px) {
        justify-content: flex-start;
      }

    }

    .last {
      justify-content: flex-end;
    }

    li {
      list-style: none;
      display: inline-block;

      @media screen and (min-width: 768px) {
        padding: 10px 10px;
      }
      a {
        color: $copy;
        text-decoration: none;
        margin-right: 10px;
        &:hover {
          border-bottom: 1px solid $copy-light;
        }
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .copyright {
  
    p {
      @media screen and (min-width: 768px) {
        margin: 0;
      }
    }
  }
}
